body{
   background-image: url("../images/restaurant.png");
   font-family: 'Georgia', Times, Times New Roman, serif;
 /*background-color: black;*/
    margin-bottom: 0px;
    
}

nav {
   float: right;
   margin-right: 250px;
   margin-top: 65px;
 /*  margin-bottom: 0px;*/
   background-color: #ffffff;
}
nav a{
    margin-right: 0px;
    color:#777777;
    text-decoration: none;
    border-right: 1px solid #666666;
    padding: 5px;

}

.Nav-bar{
    border-bottom: 3px solid #846E6E;
    position: relative;
    background-color: #ffffff;
    margin-top: -20px;
    border-top: 20px solid #ffffff;
    
}
 .title-name{
    background-color:#4aaaa5;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 250px;
    width: 128px;
    color: white;
    font-size: 22px;
}

.container-big{
    clear: both;
    overflow: auto;
    margin:40px 650px 0 250px;
   /* outline: 1px solid red;*/
    position: absolute;
    width: 40%;
    height: 60%;
    background-color: white;
}
.container-small{
    width: 20%;
    height: 180px;
   /* outline: 1px solid red;*/
    float: right;
    margin-top: 40px ;
    margin-right:190px;
    position: relative;
    background-color: white;
}
.container-small .icons{
    margin-top: 20px;
    margin-left: 20px;
}
.container-small  h1{
    color:#4aaaa5;
}
.container-small h1{
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}
.small-div{
  border-bottom: 2px solid grey;
  margin: 0 20px 0 20px;
}
img{
    float: left;
    margin: 5px;
}


.container-big p{
    clear: both;
    overflow: auto;
    padding: 5px;
}

.container-big .aboutme{
    color: #4aaaa5;
}

.container-big .aboutme h1{
    font-weight: bold;
    font-size: 25px; 
    margin: 20px;

}
.container-big p{
    color: #666666;
}
footer{
    background-color: #666666;
    position: fixed;
    margin-top: 36%;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5px;
    border-top: 3px solid #4aaaa5;
}

/* style for contact.html */
button{
    width: 80px;
    height: 40px;
    background-color: #4aaaa5;
    color:#ffffff;

}
.form-div{
margin-left: 20px;  
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}